/* static/style.css */
body {
  font-family: Arial, sans-serif;
  background: #111;
  color: #fff;
  text-align: center;
}

.login-box, .counter-box {
  background: #222;
  padding: 20px;
  margin: 50px auto;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
}

input, button {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}
